* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.BlogmainSection {
  display: relative;
  background-image: url('../../assets/sideimage.png');
  height: 160vh;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right top;
  background-color: black;
}

.test {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 100vh;
}

.blogsec1heading1 {
  font-family: Joyride;
  font-weight: 400;
  font-size: 4rem;
  color: white;
  margin-left: 2.5rem;
  font-style: normal;
  line-height: 1.2;
  margin-top: 8rem;
}
.verticalline {
  border-left: 3px solid rgb(72, 111, 97);
  margin-right: 0.6rem;
  height: 3rem;
}
.blogsec1heading2 {
  font-family: Greycliff;
  font-weight: 400;
  color: white;
  font-size: 1rem;
  line-height: 1.5;
}
.blogsec1sec2 {
  margin-top: 3rem;
  display: flex;
  margin-left: 2.5rem;
}

.blogsButton {
  margin-top:  -2rem;
  margin-left: 2.5rem;;
}


/* .blogsbutton{
  background-color: green;
  clip-path: polygon(8% 68%, 100% 67%, 100% 86%, 92% 100%, 0 100%, 0 83%);
  margin-left: 2.5rem;
  font-size: 5rem;
  padding: 1rem;
} */

@media only screen and (max-width: 640px) {
  .verticalline {
    height: 3rem;
  }
}
@media only screen and (max-width: 400px) {
  .blogsec1heading1 {
    font-size: 4rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    
  }
  .blogsec1sec2 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .blogsec1heading2 {
    font-size: 1rem;
  }
  .verticalline {
    height: 6rem;
  }
  .blogsButton{
    margin-top: -14rem;

  }
}

@media only screen and (max-width: 1350px) {
  .BlogmainSection {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../../assets/sideimage.png);

  }
}

@media only screen and (max-width: 780px) {
  .blogsec1heading1 {
      font-size: 3rem ;
  }
}

@media only screen and (max-width: 400px) {
  .blogsec1heading1 {
      font-size: 2rem ;
      line-height: 1.5;
      margin-top: 5.5rem;
  }
  .BlogmainSection {
  height: 47rem;
  }
}

