*{
    background-color: #03090C;
}

.TRF-in-figures{
    overflow: hidden;

}

.Numbers>h1>span{
    color:#A4E5E5;
    font-family: 'Joyride';
    font-size: 2em;


}

.Numbers-col{
    justify-content:center;
    text-align: center;   
    padding:0%;
}

.Numbers-desc{
    color:#FFFFFF;
    font-family: 'GreyCliff';
    font-weight: 700;
    font-size:1.4em;
}

.Numbers-heading{
    font-family: 'Joyride';
    text-align: left;
    color: #FFFFFF;
    font-size: 1.5em;
    padding-left: 90px;
}


.Numbers-row{
    width: 100%;
    padding:30px 150px 100px 150px;
    margin: 0;

}

.TRF-in-figures{
    padding-top:100px;
}


@media screen and (min-width:766px) and (max-width: 1130px) {
    .Numbers{
        font-size: 3.5em;
    }
    
    .Numbers-desc{        
        font-size:1.2em;
    }

    .Numbers-row{
        width: 100%;
        padding:30px 120px 100px 120px;
    }
    
    
}

/* !Media Queries */

@media screen and (min-width:766px) and (max-width: 1130px) {
    .Numbers{
        font-size: 3.2em;
    }
}

@media screen and (min-width:766px) and (max-width: 930px) {
    .Numbers-heading{
        padding-left: 70px;
    }
    
    .Numbers-row{
        width: 100%;
        padding:30px 90px 100px 90px;
    }
    
}
@media screen and (min-width:766px) and (max-width: 850px){
    .Numbers{
        font-size: 2.8em;
    }
}

@media screen and (min-width:766px) and (max-width: 800px){
    .Numbers{
        font-size: 2.4em;
    }

    .Numbers-heading{
        padding-left: 50px;
    }
    
    .Numbers-row{
        width: 100%;
        padding:30px 80px 100px 80px;
    }
    

}

@media screen and (min-width:766px) and (max-width: 675px){
    .Numbers-desc{        
        font-size:1em;
    }
    
    .Numbers-heading{
        padding-left: 30px;
        font-size: 1.2em;
    }
    .Numbers-row{
        width: 100%;
        padding:30px 60px 100px 60px;
    }
    
}

@media screen and (max-width:766px){
    .Numbers{
        font-size: 3em;
    }
    .Numbers-col{
        padding-top: 30px;
    }
    .Numbers-desc{        
        font-size:1.2em;
    }
    .Numbers-heading{      
        text-align: center;       
        font-size: 1.5em;
        padding-left: 0px;
    }
    .Numbers-row{
        width: 100%;
        padding:0px;
    }
    
}

@media screen and (max-width:350px){
    .Numbers-desc{
        font-size: 1em;
        padding-left: 10px;
        padding-right: 10px;
    }
}