.mainsectionofrobocon {
  width: 100%;
  overflow: hidden;
  color: white;
  background-color: black;
}
.Roboconsec1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column-reverse;
}

.RoboconSec1firstsec::before{
  content: '';
  background-image: url('../../assets/RoboconBgImg1.png'),linear-gradient(rgba(0, 0, 0, 0.1), rgb(0, 0, 0));       
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
}

.RoboconSec1heading1 {
  font-family: Joyride;
  margin-bottom: 2rem;
  margin-left: 4rem;
  font-size: 10vw;
}
/* .RoboconSec2main{
    
    width: 100%;
} */

@media screen and (max-width: 400px) {
}
