.maingridsection{
    border:2px solid black;
  
    height:90vh;
    width: 90vw;
    padding:0.5rem;
    margin:1rem auto;
    color: white;
    display: grid;
    gap: 3rem;
    grid-auto-columns: 1fr;
    grid-template-areas: 'one two two '
    'one three four'
   ;
}
.maingridsection >*{
    border:0px solid white;
    
}
.gridchild1{
    grid-area: one;
   background-image: url("../../assets/RobonextImg2.png");
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment:scroll;
   background-size: cover;
}
.gridchild2{
    grid-area: two;
    background-image: url("../../assets/RobonextImg3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment:scroll;
    background-size: cover;
}
.gridchild3{
    grid-area: three;
    background-image: url("../../assets/RobonextImg4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment:scroll;
    background-size: cover;
}
.gridchild4{
    grid-area: four;
    background-image: url("../../assets/RobonextImg5.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment:scroll;
    background-size: cover;
    /* background: #000; */
}
.robonextPageSec2{
    padding-top: 3rem;
}