.blog {
  position: relative;
  overflow: hidden;
}

.blog-slider {
  padding-top: 200px;
  padding-bottom: 50px;
  color: white;
}
.dots {
  text-align: right;
  /* margin-top: 50px; */
  margin-bottom: 0px;
  color: white;
  margin-right: 5px;
  padding-top: 0px;
}

.slick-dots {
  margin-top: 50px;
}

li:last-child > .custom-paging {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid white;
  /* margin-left:50px; */
}
li:first-child > .custom-paging {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #a4e5e5;
}

.blog-img {
  position: absolute;
  right: 0;
  top: -20px;
  background-color: transparent;
  z-index: 3000;
}

.blog-text-container {
  padding-top: 150px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  z-index: 3000;
}

.blog-main-heading {
  font-family: "Joyride";
  font-size: 6em;
  font-weight: 400;
  color: white;
}

.blog-subheading {
  font-family: "Greycliff";
  font-size: 1.2em;
  font-weight: 600;
  color: white;
  width: 55%;
  padding-left: 10px;
  border-left: 5px solid #559083;
  opacity: 0.5;
}

.slick-slider:last-child {
  margin-top: 20px;
}

.blog_card {
  height: 500px;
  display: flex;
  margin-top: 200px;
  flex-direction: column;
  padding-top: 100px;
  margin-left: 50px;
  margin-right: 30px;
  /* max-width: 16em; */
  width: 20em;
  background-color: transparent;
  border: none;
  position: relative;
}
#blogs-slider-id {
  height: 500px; 
  margin-bottom: 0px;
  
}

.blog-text-info {
  display: block;
  background-color: white;
  border: none;
  color: black;
  text-align: left;
  font-family: "Greycliff";
  height:200px;
}
.blog_No {
  position: absolute;
  right: 0px;
  top: 130px;
  text-align: right;
  font-size: 0.8em;
  font-weight: 800;
  padding: 5px;
  font-family: "GreyCliff";
  color: black;
  background-color: white;
}

.blog_card-description {
  text-align: left;
  font-size: 0.85em;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  line-height: 1.2;
}
.blog_card-image {
  width: 100%;
  height: 200px;
  max-width: 100%;
  object-fit: cover;
}

.blog_card-header {
  padding: 15px 15px 10px 15px;
  background-color: white;
  border: none;
  color: black;
  font-size: 1.5em;
  font-family: "Greycliff";
}
/* 
.blog-slider {
  margin-top: 2000px;
  padding-top: 400px;
  padding-left: 30%;
  position: relative;
}

.blog-slider-container {
  position: relative;
}

.slider_left_text {
  position: absolute;
  top: -5000px;
  bottom: 5000px;
  left: 500px;
  right: 5000px;
}

.slick-prev {
  position: absolute;
  left: 0px;
  top: 700px;
    left: -250px;
}

.slick-next {
  position: absolute;
  top: 700px;
  left: -200px;
} */

.drag-text {
  color: black;
}

@media only screen and (max-width: 1133px) {
    /* .blog_card{
        width: 14em;
    } */
  .drag-text {
    color: white;
  }
  .slick-dots {
    margin-top: 50px;
  }
  .dots {
    text-align: center;
    margin-right: 0%;
    /* margin-top: 50px; */
  }
  .dots > .custom-paging {
    text-align: center;
    height: 10px;
    width: 10px;
    border: 10px solid grey;
    border-radius: 50%;
    position: relative;
  }
  li:first-child > .custom-paging {
    height: 10px;
    width: 10px;
    border: 8px solid grey;
    border-radius: 50%;
    position: relative;
  }
  li:last-child > .custom-paging {
    text-align: center;
    height: 10px;
    width: 10px;
    border: 8px solid grey;
    border-radius: 50%;
    position: relative;
  }
  li > .custom-paging {
    text-align: center;
    height: 10px;
    width: 10px;
    border: 8px solid grey;
    border-radius: 50%;
    position: relative;
  }
  .dots > .slick-active > .custom-paging {
    text-align: center;
    height: 10px;
    width: 10px;
    border: 8px solid white;
    border-radius: 50%;
    position: relative;
  }

  .blog_card {
      max-width: 20em;
    }
    .blog-text-container {
      padding-left: 50px;
    }
}

@media only screen and (max-width: 1110px) {
    .blog_card {
        width: 17em;
    }
}
@media only screen and (max-width: 980px) {
  .blog-main-heading {
    font-family: "Joyride";
    font-size: 5em;
    font-weight: 400;
    color: white;
  }

  .blog-subheading {
    font-family: "Greycliff";
    font-size: 1.25em;
    font-weight: 600;
    color: white;
    width: 55%;
    padding-left: 10px;
    border-left: 5px solid #559083;
    opacity: 60%;
  }
}

@media only screen and (max-width: 840px) {
  .Workshop-main-heading-mob-view {
    display: block;
    
  }

  h1.mob-view {
    font-family: "Joyride";
    font-size: 6em;
    font-weight: 400;
    color: white;
  }
  .Workshop-main-heading {
    display: none;
  }

  .Workshop-img {
    opacity: 0.3;
  }
}

@media only screen and (max-width: 840px) {
  h1.mob-view {
    font-family: "Joyride";
    font-size: 6em;
    font-weight: 400;
    color: white;
  }
  
  .blog-img {
    opacity: 0.3;
  }
}

@media only screen and (max-width: 765px) {
  .blog_card {
    width: 18em;
  }
}
@media only screen and (max-width: 707px) {
  .blog_card {
    width: 14em;
  }

  .dots > .custom-paging {
    text-align: center;
    height: 10px;
    width: 10px;
    border: 5px solid grey;
    border-radius: 50%;
    position: relative;
  }
  li:first-child > .custom-paging {
    height: 10px;
    width: 10px;
    border: 5px solid grey;
    border-radius: 50%;
    position: relative;
  }
  li:last-child > .custom-paging {
    text-align: center;
    height: 10px;
    width: 10px;
    border: 5px solid grey;
    border-radius: 50%;
    position: relative;
  }
  li > .custom-paging {
    text-align: center;
    height: 10px;
    width: 10px;
    border: 5px solid grey;
    border-radius: 50%;
    position: relative;
  }
  .dots > .slick-active > .custom-paging {
    text-align: center;
    height: 10px;
    width: 10px;
    border: 5px solid white;
    border-radius: 50%;
    position: relative;
  }
}

@media only screen and (max-width: 640px) {
  h1.mob-view {
    font-size: 6em;
  }
}


@media only screen and (max-width: 557px) {
  /* .blog_card {
    width: 20em;
  } */

  h1.mob-view {
    font-size: 4.8em;
  }
  .blog-subheading {
    width: 70%;
  }
  .blog_card{
    width: 20em;
    margin-left: 20%;
  }
}

@media only screen and (max-width: 500px) {
  .blog_card {
   width: 18em;
  }
}
@media only screen and (max-width: 460px) {
  /* .blog_card {
    width: 16em;
  } */

  h1.mob-view {
    font-size: 4.5em;
  }
  .blog-text-container {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 442px) {
    .blog_card {
     width: 16em;
    }
  }

@media only screen and (max-width: 405px) {
  */

  h1.mob-view {
    font-size: 4em;
  }
  .blog-text-container {
    padding-left: 20px;
  }
}


@media only screen and (max-width: 390px) {
  h1.mob-view {
    font-size: 3.5em;
  }
}
@media only screen and (max-width: 370px) {
  .blog_card {
    max-width: 13em;
  }
  
}
@media only screen and (max-width: 350px) {
  
  h1.mob-view {
    font-size: 3em;
  }
  .blog-subheading {
    font-size: 1em;
  }
}
