* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* overflow: hidden; */
}
.maindiv {
  background: black;
  padding-top: 2rem;
  padding: 0px 0px 10px 0px;
}
.footertrflogo {
  font-family: "Joyride";
  font-weight: 400;
  color: white;
  font-size: 2.25em;
}
.Footertextcolor {
  font-family: "Greycliff";
  font-weight: 400;
  color: rgb(170, 169, 169);
  font-size: 1.25em;
}
.footerheading2 {
  font-family: "Greycliff";
  font-weight: 400;
  color: white;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.rightside {
  text-align: right;
}

.footerheading1 {
  font-family: "Greycliff";
  font-weight: 400;
  color: white;
  font-size: 1.5em;
}
.footsec2 {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.section {
  padding: 20rem 6rem 0rem 6rem;
}
hr {
  width: 2.5rem;
  border: 0.5px solid rgb(127, 127, 127);
  margin-bottom: 1rem;
}
.footercopyright {
  font-family: "Greycliff";
  font-weight: 400;
  color: white;
  padding: 3rem 6rem;
  font-size: 0.75em;
}

.socialmedia-names{
  font-size: 1.25em;

}

.alink {
  font-family: "Greycliff";
  font-weight: 400;
  text-decoration: none;
  color: rgb(242, 242, 242);
}
.alink:hover {
  cursor: pointer;
  color: #a4e5e5;
}
.alinkspace {
  font-family: "Greycliff";
  font-weight: 400;
  margin-right: 1rem;
}

.linksgrp2 {
  font-family: "Greycliff";
  font-weight: 400;
  margin-top: 1.5rem;
}
.linksgrp1 {
  font-family: "Greycliff";
  font-weight: 400;
  margin-top: 3rem;
}

.trfmail {
  font-family: "Greycliff";
  font-weight: 400;
  margin-bottom: 0.7rem;
}
.trfmoblieno {
  font-family: "Greycliff";
  font-weight: 400;
  margin-bottom: 0.7rem;
}

.footer-icons {
  visibility: hidden;
}

/*! Media Queries */

@media only screen and (max-width: 990px) {
  .socialmedia-names {
    font-size: 1.1em;
  }
  .Footertextcolor {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 870px) {
  .socialmedia-names {
    font-size: 1em;
  }
  .Footertextcolor {
    font-size: 1em;
  }
}

@media only screen and (max-width: 780px) {
  .footsec2 {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }
  .rightside {
    text-align: left;
  }
  .footer-icons {
    visibility: visible;
    
  }
  
  .footer-icons ::hover{
    color:#a4e5e5;
  }
  .socialmedia-names{
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .footercopyright {    
    padding: 3rem 4rem;
  }

  .section {
    padding: 20rem 4rem 0rem 4rem;
  }
}

@media only screen and (max-width: 400px) {
  .footercopyright {    
    padding: 3rem 2.5rem;
  }

  .section {
    padding: 20rem 2.5rem 0rem 2.5rem;
  }
 
}

@media only screen and (max-width: 350px) {
  .footercopyright {    
    padding: 3rem 2rem;
  }

  .section {
    padding: 20rem 2rem 0rem 2rem;
  }
 
}