.Workshop {
  position: relative;
  overflow: hidden;
}

.workshop-slider {
  padding-top: 200px;
  padding-bottom: 50px;
  color: white;
}
.dots {
  text-align: right;
  /* margin-top: 50px; */
  margin-bottom: 0px;
  color: white;
  margin-right: 60px;
  padding-top: 0px;
}

.slick-dots {
  margin-top: 50px;
}

/* .custom-paging {
  text-align: center;
  height: 20px;
  width: 20px;
  border: 10px solid grey;  
  border-radius: 50%;
  position: relative;
} */

/* .dots>.slick-active>.custom-paging {
  text-align: center;
  height: 20px;
  width: 20px;
  border: 10px solid white;  
  border-radius: 50%;
  position: relative;
} */
li:last-child > .custom-paging {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid white;
  /* margin-left:50px; */
}
li:first-child > .custom-paging {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #A4E5E5;
}

.Workshop-img {
  position: absolute;
  right: 0;
  top: -30px;
  background-color: transparent;
  z-index: 3000;
}

.Workshop-text-container {
  padding-top: 330px;
  padding-left: 100px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: left;
  z-index: 3000;
}

.Workshop-main-heading {
  font-family: "Joyride";
  font-size: 6em;
  font-weight: 400;
  color: white;
}

.Workshop-main-heading-mob-view {
  display: none;
}
.Workshop-subheading {
  font-family: "Greycliff";
  font-size: 1.5em;
  font-weight: 600;
  color: white;
  width: 55%;
  padding-left: 10px;
  border-left: 5px solid #559083;
  opacity: 60%;
}

.slick-slider:last-child{
  margin-top: 20px;
}

.card {
  height: 550px;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  margin-left: 85px;
  max-width: 16em;
  /* width: 25em; */
  background-color: white;
  border: none;
  position: relative;
}
.text-info {
  display: block;
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  font-family: "Greycliff";
}
.Workshop_No {
  position: absolute;
  right: -80px;
  top: -70px;
  text-align: right;
  font-size: 8em;
  font-family: "Joyride";
  background-color: transparent;
}

.card-description {
  text-align: center;
  font-size: 0.75em;
  padding-left: 16px;
  padding-right: 16px;
  height: 150px;
  line-height: 1.3;
}
.card-image {
  width: 100%;
  height: 15em;
  max-width: 100%;
  object-fit: cover;
}

.card-header {
  padding: 0px;
  background-color: white;
  border: none;
  color: black;
  font-size: 1.5em;
  font-family: "Greycliff";
  padding-top: 15px;
  padding-bottom: 10px;
}

.card button {
  display: inline-block;
  background-color: white;
  border: none;
  color: black;
  color: #fff;
  border: none;
  padding: 1.5em 1.6em;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  width: 100%;
  /* position: absolute;
    bottom: 0; */
  transition: background-color 0.5s ease-out;
}

svg.know-more-btn {
  height: 50px;
}

.drag-text {
  color: black;
}

@media only screen and (max-width: 1219px) {
  .Workshop_No {
    font-size: 7em;
  }
  .card {
    max-width: 14.5em;
  }
}

@media only screen and (max-width: 1133px) {
  .drag-text {
    color: white;
  }
  .slick-dots{
    margin-top: 50px;
  }
  .dots {
    text-align: center;
    margin-right: 0%;
    /* margin-top: 50px; */
    
  }
  .dots > .custom-paging {
    text-align: center;
    height: 10px;
    width: 10px;
    border: 10px solid grey;
    border-radius: 50%;
    position: relative;
  }
  li:first-child > .custom-paging {
    height: 10px;
    width: 10px;
    border: 8px solid grey;
    border-radius: 50%;
    position: relative;
  }
  li:last-child > .custom-paging {
    text-align: center;
    height: 10px;
    width: 10px;
    border: 8px solid grey;
    border-radius: 50%;
    position: relative;
  }
  li > .custom-paging {
    text-align: center;
    height: 10px;
    width: 10px;
    border: 8px solid grey;
    border-radius: 50%;
    position: relative;
  }
  .dots > .slick-active > .custom-paging {
    text-align: center;
    height: 10px;
    width: 10px;
    border: 8px solid white;
    border-radius: 50%;
    position: relative;
  }
  .Workshop_No {
    font-size: 8em;
  }
  .card {
    max-width: 20em;
  }
  .Workshop-text-container {
    padding-left: 50px;
  }
}



@media only screen and (max-width: 940px) {
  .card {
    max-width: 18em;
  }
}
@media only screen and (max-width: 980px) {
  .Workshop-main-heading {
    font-family: "Joyride";
    font-size: 5em;
    font-weight: 400;
    color: white;
  }

  .Workshop-subheading {
    font-family: "Greycliff";
    font-size: 1.25em;
    font-weight: 600;
    color: white;
    width: 55%;
    padding-left: 10px;
    border-left: 5px solid #559083;
    opacity: 60%;
  }
}

@media only screen and (max-width: 840px) {
  .Workshop-text-container{
    padding-top:350px;
  }
  .Workshop-main-heading-mob-view {
    display: block;
    
  }

  h1.workshop-mob-view {
    font-family: "Joyride";
    font-size: 6em;
    font-weight: 400;
    color: white;
  }
  .Workshop-main-heading {
    display: none;
  }

  .Workshop-img {
    opacity: 0.3;
  }
}

@media only screen and (max-width: 865px) {
  .Workshop_No {
    font-size: 7.5em;
  }
  .card {
    max-width: 15.5em;
  }
}

@media only screen and (max-width: 790px) {
  .card {
    max-width: 14em;
    margin-left: 80px;
  }
  .Workshop_No {
    right:-60px;
    font-size: 6.5em;
  }
}
@media only screen and (max-width: 707px) {
  .card {
    max-width: 25em;
    margin-left: 150px;
  }
  .Workshop_No {
    font-size: 8em;
    right:-60px;
  }
  .dots > .custom-paging {
    text-align: center;
    height: 10px;
    width: 10px;
    border: 5px solid grey;
    border-radius: 50%;
    position: relative;
  }
  li:first-child > .custom-paging {
    height: 10px;
    width: 10px;
    border: 5px solid grey;
    border-radius: 50%;
    position: relative;
  }
  li:last-child > .custom-paging {
    text-align: center;
    height: 10px;
    width: 10px;
    border: 5px solid grey;
    border-radius: 50%;
    position: relative;
  }
  li > .custom-paging {
    text-align: center;
    height: 10px;
    width: 10px;
    border: 5px solid grey;
    border-radius: 50%;
    position: relative;
  }
  .dots > .slick-active > .custom-paging {
    text-align: center;
    height: 10px;
    width: 10px;
    border: 5px solid white;
    border-radius: 50%;
    position: relative;
  }
}

@media only screen and (max-width: 640px) {
  h1.workshop-mob-view {
    font-size: 6em;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    max-width: 22em;
    margin-left: 100px;
  }
  .Workshop_No {
    font-size: 8em;
  }
}

@media only screen and (max-width: 560px) {
  .card {
    max-width: 20em;
    margin-left: 80px;
  }
  .Workshop_No {
    font-size: 8em;
  }
  h1.workshop-mob-view {
    font-size: 4.8em;
  }
  .Workshop-subheading {
    width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  .card {
    max-width: 18em;
    margin-left: 50px;
  }
  .Workshop_No {
    font-size: 8em;
  }
}
@media only screen and (max-width: 460px) {
  .card {
    max-width: 16em;
    margin-left: 50px;
  }
  .Workshop_No {
    font-size: 6em;
  }
  h1.workshop-mob-view {
    font-size: 4.5em;
  }
  .Workshop-text-container {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 405px) {
  .card {
    max-width: 14em;
    margin-left: 50px;
  }
  .Workshop_No {
    font-size: 6em;
  }
  h1.workshop-mob-view {
    font-size: 3.5em;
  }
  .Workshop-text-container {
    padding-left: 20px;
  }
  .Workshop-subheading {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 299px) {
  .card {
    max-width: 16em;
    margin-left: 30px;
  }
  .Workshop_No {
    font-size: 6em;
  }
  h1.workshop-mob-view{
    font-size: 3.5em;
  }
  .Workshop-subheading {
    font-size: 1em;
  }
}
@media only screen and (max-width: 350px) {
  .Workshop_No {
    display: none;
  }
  .card {
    max-width: 16em;
    margin-left: 50px;
  }
  
  .Workshop-subheading {
    font-size: 1em;
  }

}

@media only screen and (max-width: 305px) {
  h1.workshop-mob-view{
    font-size: 3em;
  }
}
