.roboconpagesec2{
    background-color: black;
}
.roboconseccard0{
    padding:4rem 7rem;
    display:flex;
    font-family: Greycliff;
    color: #FFFFFF99;  
    justify-content: space-around;
    margin-left: -2.8rem;
    margin-right: 10rem;
    margin-bottom: 8rem;
    width: 52vw;  
}

.roboconseccard2{
    border:2px solid black;
    display:flex;
    padding:1rem 4rem;
    font-family: Greycliff;
    color: #FFFFFF99;
}
.roboconseccard1{
    border:2px solid black;
    display:flex;
    justify-content: space-evenly;
    flex-direction:row-reverse;
    padding:1rem 4rem;
    font-family: Greycliff;
    color: #FFFFFF99;
}
.roboconseccard3{
    border:2px solid black;
    display:flex;
    flex-direction:row-reverse;
    padding:1rem 4rem;
    font-family: Greycliff;
    color: #FFFFFF99;

}

.year{
    font-family: Joyride;
    font-weight: 400;
    color: white;
    font-size: 2.25em;
}

.robocon{
    font-family: Greycliff;
    color: white;
}
.textcard1{
width: 45vw;
}

.roboconsec2cardimage1{
    width:30rem;
    height:38rem;
}
.roboconsec2cardimage2{
    width:27rem;
    height:32rem;
    margin-left: 4rem;
}
.roboconsec2cardimage3{
    width:27rem;
    height:32rem;
    margin-right: 4rem;
}


.verticallinerobocon1{
    border-left: 3px solid rgb(72,111,97);
  margin-right: 0.5rem;
  margin-top: 0.4rem;
    height: 9.2rem;
}

.verticallinerobocon{
    border-left: 3px solid rgb(72,111,97);
    
  margin-right: 0.5rem;
  margin-top: 0.4rem;
    height: 5.9rem;
}
.verticlelinedivcard3{
    display: flex;
    /* justify-content: center; */
    text-align: left;
    
}

.roboconseccard3subdiv1{
margin-top: 1rem;
}
/* card 2 verticle line */
.verticlelinedivcard2{
    display: flex;
    /* justify-content: center; */
    text-align: left;
    
}
.roboconseccard2subdiv1{
margin-top: 1rem;
}

/* card 1 verticle line */
.verticlelinedivcard1{
    display: flex;
    /* justify-content: center; */
    text-align: left;
    
}
.roboconseccard1subdiv1{
margin-top: 1rem;
}


@media only screen and (max-width: 930px) {
    .verticallinerobocon{
        height: auto;
    }
    .roboconseccard1{
        border:2px solid black;
        display:flex;
        flex-direction: column-reverse;
        padding:1rem 4rem;
        flex-wrap: wrap;
    }
    .roboconseccard2{
        border:2px solid black;
        display:flex;
        flex-direction:column-reverse;
        padding:1rem 4rem;
        flex-wrap: wrap;
    }
    
    .roboconseccard3{
        border:2px solid black;
        display:flex;
        flex-direction:column-reverse;
   
        flex-wrap: wrap;

    }
    .roboconsec2cardimage2{
        width:25rem;
     
        height:23rem;
        margin-left: 0rem;
    }
    .roboconsec2cardimage1{
        /* width:25rem;
        height:28rem; */
        max-width:100%;
     
        height:23rem;
        margin-right: 0rem;
    }
    .roboconsec2cardimage2{
        max-width:100%;
     
        height:23rem;
        margin-left: 0rem;
    }
    .roboconsec2cardimage3{
        max-width:100%;
     
        height:23rem;
        /* align-items:center; */
        margin-right: 0rem;
    }

  }


  @media only screen and (max-width: 930px) {
      .roboconseccard0{
          width: auto; 
      }
      .textcard1{
          width: auto;
      }
    .roboconseccard3subdiv1{
        text-align:center;
    }
    .roboconseccard3subdiv2{
display:flex;
justify-content:center;
    }
    .roboconseccard1subdiv1{
        text-align:center;
    }
    .roboconseccard1subdiv2{
display:flex;
justify-content:center;
    }
    .roboconseccard2subdiv1{
        text-align:center;
    }
    .roboconseccard2subdiv2{
display:flex;
justify-content:center;
    }
    .verticlelinedivcard3{
        justify-content: center;
    }
    .verticlelinedivcard2{
        justify-content: center;
    }
    .verticlelinedivcard1{
        justify-content: center;
    }
  }

  @media only screen and (max-width: 400px) {
    .year{
    margin-bottom: 0.3rem;
    }
    .roboconseccard0{
        margin-bottom: 3rem;
    }
    .verticlelinedivcard1{
        margin-top: 2rem;
        margin-bottom: 1rem;   
    }
    .verticlelinedivcard2{
        margin-top: 2rem;
        margin-bottom: 1rem;   
    }.verticlelinedivcard3{
        margin-top: 2rem;
        margin-bottom: 1rem;   
    }
    .roboconseccard0{
    margin-left: 0rem;
    width: 100vw;
    }
    .verticallinerobocon1{
    height: auto;
    }
    .textcard1{
        width: 80vw;
    }
    .roboconsec2cardimage1{
        height: 35rem;
        width: auto;
    }
    .roboconsec2cardimage2{
        height: 35rem;
    }.roboconsec2cardimage3{
        height: 35rem;
    }
}