.Domains-Container{
    text-align:center;
    padding: 100px;
    position:relative;
}

.Domain-heading-elex, .Domain-heading-mech, .Domain-heading-prog{
    color:white;
    font-family:"Joyride";
    font-size:2.25em;
    position: absolute;
}
.Domain-content-elex, .Domain-content-mech, .Domain-content-prog{
    color: #c9c9c9;
    font-family:"Greycliff";
    font-size:0.8em;
    font-weight: 200;
    width: 350px;
    position:absolute;
}

.Domain-heading-elex{
    right: 210px;
    top: 200px;
}
.Domain-heading-mech{
    left: 240px;
    top: 350px;
}
.Domain-heading-prog{
    right:240px;
    bottom:190px;
}
.Domain-content-elex{
    left: 30px;
    top:190px;
    text-align: right;
    padding-left: 70px;
}
.Domain-content-mech{
    right: 30px;
    top: 330px;
    text-align: left;
    padding-right: 70px;
}
.Domain-content-prog{
    left: 30px;
    bottom: 170px;
    text-align: right;
    padding-left: 70px;
}