*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(204, 204, 204);
  padding: 0px;
}

.nav__link{
    font-family:'Greycliff';
    font-weight:200;
    color: white;
    font-size: 1.05em;
    padding-left:18px ;
    padding-right: 18px;
    padding-top: 3px;
    text-decoration: none;
}

.nav__link:hover{
    text-decoration: underline;
    text-decoration-color: #A4E5E5;
    color: white;
    cursor: pointer; 
}

.nav__brand{
    font-family: 'Joyride';
    font-weight:400;
    color: white;
    font-size:1.5em;
    padding-left: 45px;
    padding-right: 45px;
    text-decoration: none;
}

.nav__brand:hover{
    color: #A4E5E5;
} 

.nav__brand_mobile{
    font-family: 'Joyride';
    font-weight:400;
    color: white;
    font-size:1.5em;   
    text-decoration: none;
}

.nav__brand_mobile:hover{
    color: #A4E5E5;
} 

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: #03090C;
  
}

.Navbar{
    background-color: #03090C;
    padding-top: 10px;
    padding-bottom:10px;
    z-index:3000000000;
    position:fixed;
    width: 100%;
    border-bottom: 0.5px solid rgb(225, 225, 225, 0.3) ;

}

.nav__brand {
  text-transform: uppercase;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__toggler {
  display: none;
  z-index: 1000;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

.nav__brand_mobile{
    display: none;
}

@media screen and (max-width: 1028px){
    .nav_link{
        padding-left:15px ;
    padding-right: 15px;
    }
    .nav__brand{
        padding-left: 35px;
    padding-right: 35px;
    }
}

@media screen and (max-width: 990px){
    .nav_link{
        padding-left:5px ;
        padding-right: 5px;
    }
    .nav__brand{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 934px){
    .nav_link{
        padding-left:0px ;
        padding-right: 0px;
    }
    .nav__brand{
        padding-left: 0px;
        padding-right: 0px;
    }
}


@media screen and (max-width: 912px) {
  .Navbar{
      padding-top: 10px;
  }
  .nav__toggler {
    display: block;
    cursor: pointer;
    text-align: right;
    padding-right: 30px;
    
  }
  .nav{
    display: flex;
    justify-content: space-between;
  
  }

  .nav__brand{
      display: none;
  }

  .nav__brand_mobile{
    display: flex;
    justify-content:left;
    padding-left: 50px;
}

  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: #03090C;
    border: 1px;
    border-color: grey;
    flex-direction: column;
    z-index: 1000;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}