.Workshop{
    position: relative;
    overflow: hidden;
}

.workshop-slider{
    padding-top: 200px;
    padding-bottom: 50px;
    color: white;
    
}
.dots{
    text-align: right;
    /* margin-top: 50px; */
    margin-bottom: 0px;
    color: white;
    margin-right: 40px;
    padding-top: 0px;
}

.slick-dots{
    padding: 0px;
}

.custom-paging{
    
    text-align: right;
    height: 30px;
    width: 29px;
    border: 1px solid white;
    position: relative;

}

.Workshop-img{
    position: absolute;
    right:0;
    /* top: -150px; */
    top: -20px;
    background-color:transparent;
    z-index: 3000;
}

.Workshop-text-container{
    padding-top: 360px;
    padding-left: 100px;
    display: flex;
    flex-direction:column-reverse;
    justify-content: flex-start;
    align-items: left;
    z-index: 1000;
}

.Workshop-main-heading{
    font-family: "Joyride";
    font-size: 6em;
    font-weight: 400;
    color: white;

}

.Workshop-subheading{
    font-family: "Greycliff";
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    width: 55%;
    padding-left: 10px;
    border-left: 5px solid #559083;
    opacity: 60%;
}
.card {
    height: 550px;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    margin-left: 50px;
    max-width: 16em;
    /* width: 25em; */
    background-color: white;
    border: none;
    position: relative;
  }
.text-info{
    display: block;
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    font-family: "Greycliff";

}
.Workshop_No{
    position: absolute;
    right:-100px;
    top: -70px;
    text-align: right;
    font-size: 8em;
    font-family: "Joyride";
    background-color: transparent;    
}
  
.card-description{
    text-align: center;
    font-size: 0.75em;
    padding-left: 16px;
    padding-right: 16px;
    height: 150px;
    line-height: 1.3;
}
  .card-image {
    width: 100%;
    height: 15em;
    max-width: 100%;
    object-fit: cover;
  }
  
  .card-header{
      padding: 0px;
      background-color: white;
      border: none;
      color: black;
      font-size: 1.5em;
      font-family: "Greycliff";
      padding-top: 15px;
      padding-bottom: 10px;
  }

  .card button {
    display: inline-block;
    background-color: white;
    border: none;
    color: black;
    color: #fff;
    border: none;
    padding: 1.5em 1.6em;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    width: 100%;
    /* position: absolute;
    bottom: 0; */
    transition: background-color 0.5s ease-out;
  }
  
svg.know-more-btn{
    height: 50px;
}