
*{
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
}

.App {
  text-align: center;
  margin: 0px;
  margin-top: 0px;
  background-color: #03090C;
  font-size: 16px;
}

.font-face-gm {
  font-family: "Joyride";
 }