*{
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    background-color: #03090C;
  }
  
  @font-face {
    font-family: "Joyride";
    src: url("./assets/fonts/Joyride Extended Typeface/Joyride-Regular.otf");
    }

    @font-face {
      font-family: "GreyCliff";
      src: url("./assets/fonts/Greycliff_CF/Greycliff v1.1w/OTF/GreycliffCF-Regular.otf");
    }